.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.timer-btns {
  display: flex;
  gap: 6rem;
  margin: 1rem 0;
  padding: 3rem 0 1rem 0;
}