.homepage-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    margin: 0 1rem;
    padding: 2rem;
}

.user-greeting {
    align-self: end;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
}

.hero-img {
    width: 40%;
}

.btn-add-task {
    background-color: var(--primary-color);
    padding: .7rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    color: var(--primary-light)
}

.btn-add-task:hover {
    border: 1px solid var(--primary-color);
}