@import url("https://unfold-ui.netlify.app/css/components.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #2D27DC;
    --primary-light: #FDFCFE;
    --primary-dark: #222222;
    --gray: #575761;
}

body {
    background-color: var(--primary-light);
    font-family: 'Quicksand',
        sans-serif;
}

.App {
    display: flex;
    padding: 1rem 3rem;
    height: 94.40vh;
}

.dark-mode {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}